node_modules
.idea

.idea/vcs.xml
**/**/*.js.map
**/**/*.js
**/**/*.d.ts
.vscode/
!gulpfile.js
/dist
!test/js/**
!test/fixture/TestObserver.js
!test/fixture/TestObserverOne.js
.nyc_output/*
coverage/*
